<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <targets>
    <target name="file" xsi:type="File"
        fileName="${cached:cached=true:inner=${basedir}/logs/${date:format=yyyy-MM-dd HH-mm-ss}}.txt"
        layout="[${level} ${date:universalTime=true:format=yyyy/MM/dd HH\:mm\:ss} ${logger}] ${message}"
        encoding="utf-8"
        keepFileOpen="false" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>
